<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Reporting suite">
	<listeners>
		<listener class-name="utils.TestListener"></listener>
	</listeners>
	<test name="Reporting tests">
		<classes>
			<class name="extenttestreports.ExtentReportTests"></class>
		</classes>
	</test>
</suite>